::ng-deep .bg-opacity-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

::ng-deep .backdrop-blur-md {
  backdrop-filter: blur(10px);
}

::ng-deep .custom-grid {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  overflow: hidden;
}

::ng-deep .custom-grid .dx-row:nth-child(even) {
  background-color: rgba(242, 244, 250, 0.992);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  margin: 4px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

::ng-deep .custom-grid .dx-row:nth-child(odd) {
  background-color: rgb(202, 207, 211);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  margin: 4px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

::ng-deep .custom-grid .dx-row:hover {
  background-color: rgba(56, 57, 57, 0.97);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  color: white;
  font-weight: 500;
  font-size: 14px;
}


::ng-deep .custom-grid .dx-header-row {
  background-color: rgba(56, 57, 57, 0.97) !important; 
  color: white; 
  font-weight: 500;
  font-size: 14px;
}


::ng-deep .custom-grid ::-webkit-scrollbar {
  width: 8px;
}

::ng-deep .custom-grid ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

::ng-deep .custom-grid ::-webkit-scrollbar-thumb {
  background: rgba(0, 123, 255, 0.6);
  border-radius: 4px;
}

::ng-deep .custom-grid ::-webkit-scrollbar-thumb:hover {
  background: rgba(111, 131, 151, 0.8);
}