  # registry=https://sertfs.grupofarsiman.com/tfs/GrupoFarsimanCollection/_packaging/FarsimanPackages@Local/npm/registry/
  # always-auth=true
  # ; Trate este token de autorización como una contraseña. No lo comparta con nadie, ni siquiera con el soporte técnico de Microsoft. Este token expira como máximo el 10/6/2025.
  # ; token de autenticación inicial
  # //sertfs.grupofarsiman.com/tfs/GrupoFarsimanCollection/_packaging/FarsimanPackages@Local/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ijk1czR2QzhjS1BJRFFaUjR0bklnb3FCcVB4OCJ9.eyJuYW1laWQiOiJlMmIyOTZhNC1kZWZhLTQ0MTMtYTQyNC0yMjdjM2U5M2Q4MWEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYmZjMWRlYTctZGFkNy00Zjk2LTllZWItYmY3YjE3ZmM5ZDliIiwic2lkIjoiYzkzMzUwMTUtMDk1Mi00Mzc1LWE4YTktYWZjMDlkMjQ3NTRlIiwiaXNzIjoiMWRkODc2N2EtNWMyZC00NTkwLWExMzQtYTlhNjk4MDA3ZTlkIiwiYXVkIjoiMWRkODc2N2EtNWMyZC00NTkwLWExMzQtYTlhNjk4MDA3ZTlkIiwibmJmIjoxNzQxNzg4OTU0LCJleHAiOjE3NDk1NjU1NTR9.ky-S1MHT-JFF4VLfEKYTaAw82LQBFr0sp4bSsFODXerUWe9q8rXcXCdt8u1OfCSQwYIQTiqI0Au6WsdCBF8xOg-K-SK2c8mvceybs9yVgzp7xEonjyMa3zQk_9ePdA4SxUUe321tjqfnzR7Gytn_dPRtMv5J_6KzTddQ3BYm_XPJ2Ni4dhwni5wJ1VVjf2eST3MLKf9Vay-S3kdh4rkZnMohRgbNIQPcnJ7Y71HvGt0dSND4zOFDh1pWuHtRpylGMiUWk2onwmCkBuCjYC-kWpY0hbM1-TPtJFDOXGjP_BLSp53aibO3J1TCla8XCR7aBh8d0UjVeCEhBebmHX3tTA
  # //sertfs.grupofarsiman.com/tfs/GrupoFarsimanCollection/_packaging/FarsimanPackages@Local/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ijk1czR2QzhjS1BJRFFaUjR0bklnb3FCcVB4OCJ9.eyJuYW1laWQiOiJlMmIyOTZhNC1kZWZhLTQ0MTMtYTQyNC0yMjdjM2U5M2Q4MWEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYmZjMWRlYTctZGFkNy00Zjk2LTllZWItYmY3YjE3ZmM5ZDliIiwic2lkIjoiYzkzMzUwMTUtMDk1Mi00Mzc1LWE4YTktYWZjMDlkMjQ3NTRlIiwiaXNzIjoiMWRkODc2N2EtNWMyZC00NTkwLWExMzQtYTlhNjk4MDA3ZTlkIiwiYXVkIjoiMWRkODc2N2EtNWMyZC00NTkwLWExMzQtYTlhNjk4MDA3ZTlkIiwibmJmIjoxNzQxNzg4OTU0LCJleHAiOjE3NDk1NjU1NTR9.ky-S1MHT-JFF4VLfEKYTaAw82LQBFr0sp4bSsFODXerUWe9q8rXcXCdt8u1OfCSQwYIQTiqI0Au6WsdCBF8xOg-K-SK2c8mvceybs9yVgzp7xEonjyMa3zQk_9ePdA4SxUUe321tjqfnzR7Gytn_dPRtMv5J_6KzTddQ3BYm_XPJ2Ni4dhwni5wJ1VVjf2eST3MLKf9Vay-S3kdh4rkZnMohRgbNIQPcnJ7Y71HvGt0dSND4zOFDh1pWuHtRpylGMiUWk2onwmCkBuCjYC-kWpY0hbM1-TPtJFDOXGjP_BLSp53aibO3J1TCla8XCR7aBh8d0UjVeCEhBebmHX3tTA
  # ; token de autenticación final