<h2 class="text-3xl font-bold text-white text-center mb-6">Registro de Viaje</h2>

<form [formGroup]="viajeForm" (ngSubmit)="onSubmit()" class="space-y-6">

  <div>
    <label class="block text-white font-semibold mb-2">🏢 Sucursal:</label>
    <dx-select-box
      [dataSource]="sucursales"
      displayExpr="nombre"
      valueExpr="sucursalId"
      placeholder="Seleccione una sucursal"
      formControlName="sucursal"
      (onValueChanged)="cargarColaboradores($event)"
      class="w-full bg-white/10 border border-white/20 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-white placeholder-gray-300">
    </dx-select-box>
    <div *ngIf="viajeForm.get('sucursal')?.invalid && viajeForm.get('sucursal')?.touched" class="text-red-400 text-sm mt-1">
      Debe seleccionar una sucursal.
    </div>
  </div>


  <div>
    <label class="block text-white font-semibold mb-2">👨‍💼 Colaboradores:</label>
    <dx-tag-box
      [dataSource]="colaboradoresFiltrados"
      displayExpr="colaborador.nombre" 
      valueExpr="colaborador.colaboradorId"
      placeholder="Seleccione los colaboradores"
      formControlName="colaboradores"
      [searchEnabled]="true"
      class="w-full bg-white/10 border border-white/20 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-white placeholder-gray-300">
    </dx-tag-box>
    <div *ngIf="viajeForm.get('colaboradores')?.invalid && viajeForm.get('colaboradores')?.touched" class="text-red-400 text-sm mt-1">
      Debe seleccionar al menos un colaborador.
    </div>
  </div>


  <div>
    <label class="block text-white font-semibold mb-2">🚚 Transportista:</label>
    <dx-select-box
      [dataSource]="transportistas"
      displayExpr="nombre"
      valueExpr="transportistaId"
      placeholder="Seleccione un transportista"
      formControlName="transportista"
      class="w-full bg-white/10 border border-white/20 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-white placeholder-gray-300">
    </dx-select-box>
    <div *ngIf="viajeForm.get('transportista')?.invalid && viajeForm.get('transportista')?.touched" class="text-red-400 text-sm mt-1">
      Debe seleccionar un transportista.
    </div>
  </div>

  <div>
    <label class="block text-white font-semibold mb-2">💰 Tarifa:</label>
    <input
      type="text"
      [value]="tarifaFija " 
      readonly
      class="w-full px-4 py-2 bg-white/10 border border-white/20 rounded-lg shadow-sm text-white placeholder-gray-300 disabled:opacity-50">
  </div>

  
  <div class="flex justify-end">
    <button
      type="submit"
      [disabled]="viajeForm.invalid"
      class="px-6 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:outline-none disabled:bg-gray-400 disabled:cursor-not-allowed">
      Guardar
    </button>
  </div>
</form>