 <!-- <div class="video-bg">
    <video width="320" height="240" autoplay loop muted>
     <source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
   Your browser does not support the video tag.
   </video>
</div> -->

 <div class="video-bg">
  <video width="320" height="240" autoplay loop muted>
   <source src="../../../assets/Night Ride.mp4" type="video/mp4">
 Your browser does not support the video tag.
 </video>
</div> 
   <div class="dark-light" (click)="toggleDarkMode()">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
    </svg>
  </div>
  <div class="app">
    <app-header></app-header>
    <div class="wrapper">
      <app-sidebar></app-sidebar>
      <div class="main-container">
        
        

        <app-main-content>
          
        </app-main-content>
      </div>
    </div>
    <div class="overlay-app" [class.is-active]="isOverlayActive"></div>
  </div>